long_tallies_from_raw
new_neg_machine_all
new_neg_machine_bay_total
ave_proportion_all_years
ave_proportion_each_year
block_sums_from_raw
groupies_allocated
negatives_carried
no_try_split
num_years_detected
old_neg_machine_bay_total
subtracted_forward
un_allocated_summary
wbirds4analysis
wbirds_sppid_allocated
